# Unreal Engine generated
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
.vs/
.vscode/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.xcworkspace
*.code-workspace

# Python
__pycache__/
